*.tar.gz

*.exe
src/*.exe
src/magi
src/magid
src/test_magi
src/qt/test/test_magi-qt
src/Makefile.Debug
src/makefile-static*.unix
src/makefile-static*.bsd
src/makefile-static*.linux
src/makefile-static*.osx
src/makefile-static*.mingw

.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
*.mod
.magi

# Compilation and Qt preprocessor part
*.qm
Makefile
m-wallet
magi
magi-qt
magi-qt_*
m-wallet.app
Magi.app
Magi-Qt.app
m-wallet*
qt-builds/version-og/Makefile
qt-builds/version-og/magi-qt
qt-builds/version-og/magi-qt_*
qt-builds/version-og/Magi-Qt.app

# Unit-tests
Makefile.test
magi-qt_test

# Resources cpp
qrc_*.cpp
qt-builds/version-og/qrc_*.cpp

# Qt creator
*.pro.user*

# Mac specific
.DS_Store
qt-builds/version-og/build

build*
builds
build/*

# Other builds
qt-builds/*
qt-builds
src/qt-og/*
src/qt-og
magi-qt-unix*
magi-qt-linux*
magi-qt-osx*
magi-qt-static*
m-wallet-unix*
m-wallet-bsd*
m-wallet-linux*
m-wallet-osx*
m-wallet-win*
m-wallet-static*
